/* =============================================================
                        GENERAL
============================================================= */
html {
    height: 100%;
}
body {
    font-family: "Quicksand", sans-serif;
    position: relative;
    height: 100%;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.9rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.3rem;
}

h6 {
    font-size: 1rem;
}

p {
    font-size: .975rem;
}

.p-lg {
    font-size: 1.25rem;
}

.p-mid {
    font-size: 1.1rem;
}

.h1-bold {
    font-weight: 800;
}

.blue-link {
    color: #424ac6;
}

.page-grid {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 2rem;
}





/* =============================================================
                        NAVIGATION
============================================================= */

.nav-container {
    margin: 0 auto;
    padding: 10px 10px;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
}

.site-navigation ul {
    display: flex;
}

.site-navigation ul li {
    list-style: none;
    padding: 0 15px;
}

.nav-inner {
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
}

.menu-button {
    cursor: pointer;
    padding: 5px;
}

.menu-bar {
    background-color: black;
    width: 23px;
    border: 2px solid black;
    margin: 3px 0;
}

.menu-fscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    animation-name: right-to-left;
    animation-duration: 1s;
    display: none;
    z-index: 10;
}

.menu-fscreen-wrap {
    background-color: black;
    width: 50%;
    right: 0;
    position: absolute;
    bottom: 0;
    top: 0;
}

.menu-list {
    position: absolute;
    top: 15%;
    list-style: none;
    font-size: 2.5rem;
    font-weight: bold;
}

.menu-list-item {
    margin: 10px 0;
    color: white;
    cursor: pointer;
    padding: 0 15px;
}

.menu-close {
    cursor: pointer;
}

.bar-2 {
    width: 20px;
}

.bar-3 {
    width: 17px;
}

.menu-close {
    right: 10%;
    position: absolute;
    top: 15%;
    width: 23px;
    display: none;
}

.menu-bar-white {
    background-color: white;
    padding: 3px;
    width: 23px;
}

.menu-close-bar-1 {
    transform: rotate(45deg);
    position: absolute;
}
.menu-close-bar-2 {
    transform: rotate(135deg);
    position: absolute;
}
/* .bar-2:hover,
.bar-3:hover {
    width: 23px;
} */

/* =============================================================
                        LANDING PAGE SECTION
============================================================= */

.section--white {
    background-color: white;
}

.section-container {
    width: 1100px;
    margin: 0 auto;
    padding: 20px 0;
}

.section-flex {
    justify-content: space-between;
    display: flex;
}

.get-started-wrap {
    height: fit-content;
    margin: auto 0;
}

.bg-invert {
    background-color: white;
    color: black;
    animation-name: background-width;
    animation-duration: 0.1s;

}

.articles-carousel-wrapper {
    position: relative;
}

.article-items {
    display: flex;
    flex-wrap: wrap;
}

.article-item {
    width: fit-content;
    padding: 5px;
    background-color: white;
    margin: 5px;
    border: 1px solid #e0e0e0;
    display: none;
}

.article-active {
    display: block;
}


.article-item-image img {
    height: 180px;
}

.article-item-text {
    width: 230px;
    color: #525252;
    margin: 10px 0 0 0;
    padding: 5px;
}

.fa-arrow-left,
.fa-arrow-right {
    position: absolute;
    cursor: pointer;
    top: 25%;
    font-size: 2rem;
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 15px;
    border-radius: 100%;
}

.fa-arrow-left {
    left: -5%;
}

.fa-arrow-right {
    right: 0;
}

.featured-videos {
    background-color: black;
    padding-bottom: 10px;
}

.white-heading {
    color: white;
    padding: 10px 0;
}

.featured-video-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 2rem;
}
.video-container-md-fx {
    display: flex;
    flex-wrap: wrap;
}

.section-polls-grid {
    display: grid;
    grid-template-columns: 80% 20%;
}

.section-polls {
    display: flex;
    justify-content: space-around;
}

.section-poll {
    margin: 0 10px 0 0;
}

.section-poll-image img  {
    border-radius: 10px;
    border: 1px solid #dadada;
}

.section-poll-title {
    margin: 10px 0;
    width: 200px;
    font-weight: bold;
}

.section-poll-title h6{
    font-weight: 800;
}

.featured-newsletter {
    background: linear-gradient(to right, #1d2156, #424ac6);
    background-color: #424ac6;
    padding: 3rem 0;
}

.section-newsletter-grid {
    display: flex;
    flex-direction: column;
}

.section-newsletter-text {
    text-align: center;
    color: white;
}


/* =============================================================
                        FORMS
============================================================= */

.subscribe-form {
    display: flex;
    justify-content: center;
}

.subscribe-input {
    width: 300px;
    padding: 5px 20px;
}

.sidebar-subscribe-form {
    flex-direction: column;
    display: flex;
    /* width: 100%; */
}

.sidebar-subscribe-form .control-form input {
    width: 100%;
    padding: 5px 7px;
    text-align: center;
}

.sidebar-subscribe-form .control-form button {
    width: 100%;
}
/* =============================================================
                        ARTICLES
============================================================= */

.all-articles-view {
    display: flex;
    flex-wrap: wrap;
}

.article-featured-image img {
    width: 300px;
}

.article-thumb-title {
    width: 300px;
    padding: 0 10px;
    color: #424ac6;
}

.article-excerpt p {
    width: 300px;
    color: #424242;
    padding: 0 10px 0 10px;
    font-size: 0.9rem;
}

.article-thumb {
    margin: 0 15px 15px 0;
    border: 1px solid #d6d6d6;
    background-color: white;
}

.article-category {
    background: linear-gradient(to right, #000000, #3e3e3e);
    background-color: #424ac6;
    color: white;
    padding: 5px 10px;
    width: fit-content;
}

.article-category h6 {
    font-size: .7rem;
    margin: 0;
}


.page-heading {
    border-bottom: 3px solid #424ac6;
    margin: 10px 0;
    width: 80%;
}

.page-heading h3 {
    background-color: #424ac6;
    width: 28%;
    color: white;
    margin: 0;
    padding: 0 10px;
}

.article_full-featured-image {
    padding: 0 0 50px 0;
}

.article_full-featured-image img{
    max-width: 700px;
}

.article_full-title {
    text-align: center;
    padding: 0 0 30px 0;
}

.article_full-info {
    display: flex;
    justify-content: center;
}

.article_full-author {
    margin: 0 20px;
}

.article_full-body {
    margin: 20px 0;
}

.more-content-inner {
    background-color: black;
    color: white;
    padding: 30px 40px 40px;
}

.more-content-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2.5rem;
}

.more-content-heading {
    border-bottom: 2px dotted white;
    margin: 0 0 10px 0;
}

.more-content_single {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    background-color: #212121;
    border-radius: 5px;
    box-shadow: rgba(43, 43, 43, 0.5) 8px 7px 20px;
    color: #f3f3f3;
}

.more-content-thumbnail img {
    max-width: 100px;
}

.more-content-title {
    margin: 10px 0 0 15px;
    width: 60%;
}



/* =============================================================
                        SIDEBAR
============================================================= */
.sidebar {
    padding: 20px 0;
}

.sidebar-grid {
    display: grid;
    grid-gap: 2rem;
}

.sidebar-subscribe {
    background-color: #424ac6;
    color: white;
    padding: 20px;
}

.sidebar-box {
    background-color: white;
    padding: 10px;
    border: 1px solid #e6e6e6;
}

.sidebar-heading {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.sidebar-heading-h6  {
    background-color: black;
    color: white;
    padding: 5px;
    margin: 0;
    width: 40%;
}

.sidebar-categories-ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.sidebar-categories-ul li {
    margin: 0 10px;
}

.sidebar-popular-post-ul {
    list-style: none;
    padding: 0;
}

.sidebar-popular-post-ul li{
    margin: 0 0 10px 0;
}

/* =============================================================
                        BUTTON
============================================================= */

.btn-spred {
    background: linear-gradient(to right, #1d2156, #424ac6);
    border: none;
}

.subscribe-button {
    background-color: black;
    color: white;
    border: none;
    padding: 7px 10px;
}

.sidebar-subscribe-button {
    background-color: black;
    color: white;
    border: none;
    padding: 4px 10px;
}

/* =============================================================
                       ANIMATIONS
============================================================= */

@keyframes right-to-left {
    0% { left: 100%; }
    100% { left: 0; }
}

@keyframes background-width {
    0% { width: 0; }
    100% { width: 100%; }
}

/*
    ADDED STYLES
*/
.img{
    max-width: 100%;
}
.page-heading{
    width: 100%;
}
.m-t-5{
    padding-top: 5px;
}
.m-t-10{
    padding-top: 10px;
}
.m-t-15{
    padding-top: 15px;
}
.m-t-20{
    padding-top: 20px;
}
.m-t-25{
    padding-top: 25px;
}
.m-t-30{
    padding-top: 30px;
}

.p-l-5{
    padding-left: 5px;
}
.p-l-10{
    padding-left: 10px;
}
.p-l-15{
    padding-left: 15px;
}
.p-l-20{
    padding-left: 20px;
}
.p-s-10{
    padding-left: 10px;
    padding-right: 10px;
}
